<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="instanceFile" value="kroA100.tsp"/>
    <add key="resultsFile" value="results.txt"/>
    <add key="resultNodesLimit" value="50"/>
    <add key="multipleStartLocalSearchIterationNumber" value="1000"/>
  </appSettings>
</configuration>